body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
menu{
    padding: 2rem;
    margin: 0;
    width: 15vh;
    background-color: aqua;
    display: inline-block;
    padding-inline-start: 0;
}

#korlogo{
    width: 15vh;
    padding-left: 1rem
}
menu ul{
    padding-inline-start: 2rem;
}
menu ul li {
    border-bottom: 3px solid black;
    border-bottom-right-radius: px;
    list-style: none;
}
