
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgba(82, 82, 82, 0.685);
    height: 6.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.8rem;

}
#kecskaction{
    height: 85%;
}
#act_cam_goat{

}
nav li {
    list-style: none;
    float: left;
    margin-left: 3rem;
    font-size: 20px;
}
nav li a {
    text-decoration: none;
    transition: 0.3s;
    color: aliceblue;

}
nav li a:hover{
    text-decoration: underline;
    color: rgb(223, 252, 255);
    transition: 0.3s;
    font-size: 21px;
}
nav ul{
    padding-inline-start: 0;
    display: flex;
    align-items: center;
}
@media only screen and (min-width: 500px ){
    
}