body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
menu{
    padding: 2rem;
    margin: 0;
    width: fit-content;
    background-color: rgb(2, 68, 68);
    display: inline-block;
    padding-inline-start: 0;
}

#korlogo{
    width: 15dvh;
    padding-left: 2rem;
}
menu ul{
    padding-inline-start: 2rem;
}
menu ul li {
    border-bottom: 3px solid black;
    border-bottom-right-radius: px;
    list-style: none;
    font-size: x-large;
    padding-top: 1vh;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
menu a{
    text-decoration: none;
}
menu li:hover{
    background-color: rgb(6, 121, 121);
    border-radius: 4px;
}